{% extends "admin_dashboard.html" %}
{% block content %}
<div class="bee-block bee-block-1 bee-heading">
    <h1
        style="color:#5d5e5e;direction:ltr;font-family:Arial, Helvetica, sans-serif;font-size:44px;font-weight:700;letter-spacing:normal;line-height:120%;text-align:left;margin-top:0;margin-bottom:0;">
        <span class="tinyMce-placeholder">Categories</span>
    </h1>
</div>
<div class="bee-block bee-block-2 bee-paragraph">
    <br>
    <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    <div class="alert alert-danger" role="alert">
        {{ messages[0] }}.
    </div>
    {% endif %}
    {% endwith %}
</div>
<form action="{{url_for('add_category')}}" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Add new category</label>
        <input type="Text" name='cat_name' class="form-control" id="exampleFormControlInput1"
            placeholder="e.g. Bakery and Biscuits" required>
        <br>

        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea name='descrp' class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <br>
        <div style="text-align: right;">
            <button type="submit" class="btn btn-success" style='border-radius: 0px;background-color: #0b4341;'
                data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">+ Create new</button>
        </div>

</form>


</p>
</div>
<br>
<div class="bee-block bee-block-3 bee-html-block">

    <div class="our-class">
        {% for category in categories %}
        <div class="card  mb-3" style="background-color: #f2f7f9;border: None;">
            <div class="card-body" style="text-align: left;">
                <h4 class="card-title" style="font-family: Montserrat;color: #0b4341;font-weight: bold;">{{
                    category.cat_name }}</h4>
                <div
                    style="font-size: x-large ;color: purple;font-family: Montserrat;font-weight: bold; text-align: right;">
                    <a href="{{url_for('category',cat_id=category.cat_id)}}" style="text-decoration: None;">
                        see all <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor"
                            class="bi bi-arrow-right-short" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z" />
                        </svg>
                    </a>
                </div>
                <br>
                <div class="container" style="background-color: #f2f7f9; text-align: center; padding-left: 30px;">

                    <div class="row row-cols-1 row-cols-md-5 g-4">
                        {% for product in products %}
                        {% if product.prod_cat_id==category.cat_id %}
        
        
                        <div class="col">
                            <div class="card h-100" style="background-color: #f2f7f9; border: None;">
                                <img src="{{ url_for('get_image', filename=product.prod_name)}}" class="card-img-top"
                                    alt="Uploaded Image">
                                <div class="card-body" style="background-color: #f1f1f3;">
                                <!-- <a href="{{url_for('product',prod_id=product.prod_id)}}" style="text-decoration: None; color: black; font-family: Montserrat ;"> -->

                                    <h5 class="card-title"></h5>
                                    <p class="card-text">{{product.prod_name}}</p>
                                    <!-- </a> -->
                                </div>
                                <div class="card-footer" style="border: None; ;">
        
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                        <path
                                            d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
                                    </svg>{{product.rate_per_unit}}{{ product.unit[2:]}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
                                    <a href="{{url_for('edit_prod',prod_id=product.prod_id)}}"
                                        style='background-color: #0b4341; border:none;' class="btn btn-primary">View</a>
        
                                </div>
                            </div>
                        </div>
        
                        {% endif %}
                        {% endfor %}
        
        
        
                    </div>
                </div>


            </div>
        </div>
        {% endfor %}

    </div>

</div>
{% endblock %}